#activityContainer {
    width: 954px;
    height: 484px;
    position: absolute;
}

#col1 {    
    position: absolute;
    left: 0;
    right: 20%;
    top: 20px;
    bottom: 0; 
    padding-top: 20px;    
}

/***********************************************
 *  IGNITION SWITCH STYLES
 **********************************************/
#ignitionSwitchHint {
    position: absolute;
    top: 24px;
    left: 83px;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    border: 3px solid yellow;
    z-index: 22;
    display: none;
}

#ignitionSwitchClickSpot_lock {
    position: absolute;
    top: 29px;
    left: 36px;
    width: 23px;
    height: 21px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 9px;
    z-index: 23;
}

#ignitionSwitchClickSpot_acc {
    position: absolute;
    top: 23px;
    left: 67px;
    width: 20px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#ignitionSwitchClickSpot_on {
    position: absolute;
    top: 27px;
    left: 85px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#ignitionSwitchClickSpot_start {
    position: absolute;
    top: 44px;
    left: 104px;
    width: 18px;
    height: 28px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#ignitionSwitch {
    position: absolute;
    top: 0;
    left: 754px;
    width: 150px;
    height: 150px;
    background: url(ignition_key_switch_off.png) no-repeat;
    background-size: cover;
    z-index: 20;
}

#carKey {
    position: absolute;
    top: 17px;
    left: 19px;
    width: 116px;
    height: 114px;
    background: url(key_use.png) no-repeat;
    background-size: 117%;
    background-position-x: 13px;
    background-position-y: -26px;
    z-index: 21;
    /*border: 1px solid blue;*/
    cursor: pointer;
}
#ignitionPlaceholder {
	display: none;
	position: absolute;
    top: 5px;
    left: 759px;
    width: 140px;
    height: 140px;
    background: url(carKeyFinished.png) no-repeat;
    background-size: cover;
    z-index: 22;
}

/***********************************************
 *  BLOWER SWITCH STYLES
 **********************************************/
#blowerSwitchHint {
	position: absolute;
    top: -2px;
    left: -2px;
    width: 145px;
    height: 145px;
    border-radius: 100px;
}

#blowerSwitchClickSpot_off {
    position: absolute;
    top: 69px;
    left: 18px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#blowerSwitchClickSpot_1 {
    position: absolute;
    top: 37px;
    left: 27px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#blowerSwitchClickSpot_2 {
    position: absolute;
    top: 19px;
    left: 54px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#blowerSwitchClickSpot_3 {
    position: absolute;
    top: 19px;
    left: 84px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#blowerSwitchClickSpot_4 {
    position: absolute;
    top: 37px;
    left: 107px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;  
}

#blowerSwitchClickSpot_5 {
    position: absolute;
    top: 69px;
    left: 114px;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 23;
}

#blowerSwitch {
    position: absolute;
    top: 225px;
    left: 25px;
    width: 150px;
    height: 150px;
    background: url(dial.png) no-repeat;
    background-size: cover;
    z-index: 20;
}

#blowerSwitchKnob {
    position: absolute;
    top: 37px;
    left: 37px;
    width: 74px;
    height: 75px;
    background: url(dial_knob.png) no-repeat;
    background-size: 206%;
    background-position-x: -38px;
    background-position-y: -39px;
    z-index: 21;
    /*border: 1px solid yellow;*/
    cursor: pointer;
}
#blowerSwitchPlaceholder {
	display: none;
    position: absolute;
    top: 227px;
    left: 27px;
    width: 146px;
    height: 146px;
    background: url(blowerSwitchFinished.png) no-repeat;
    background-size: cover;
    z-index: 21;
}



#col2 {    
    position: absolute;
    left: 20%;
    right: 0;
    top: 20px;
    bottom: 0; 
}



#blowerText {
    float: left;
    font-size: large;
    padding-top: 18px;
    position: absolute;
    top: 137px;
    left: 66px;
}
#evaporator{
    position: absolute;
    top: 330px;
    left: 330px;
}

#evaporatorText{
    float: left;
    padding-top: 13px;
    font-size: large;
    top: -3px;
    left: 35px;
    position: absolute;
}

#blowerArrow{
    float: left;
    position: absolute;
    top: 135px;
    left: 90px;
    font-size: xx-large;
}

#blowerHousingOn {
    position: absolute;
    left: 77px;
    top: 2px;
    width: 135px;
    height: 168px;
    background: url('fan_blur.gif');
    background-position: 0 0;
    background-size: cover;
    z-index: 10;
    display: none;
}

#blowerHousingOff {
    position: absolute;
    left: 77px;
    top: 2px;
    width: 135px;
    height: 168px;
    background: url('fan_blur_off.png');
    background-position: 0 0;
    background-size: cover;
    z-index: 10;
    display: block;
}

#refrigerant{
    position: absolute;
    left: 420px;
    top: 50px;
    font-size: large;
}

#airInTemp {
    position: absolute;
    font-family: "Roboto-Medium";
	font-size: 28px;
    top: 72px;
    left: -95px;
}

#airInTempText {    
    position: absolute; 
    font-family: "LiquidCrystal-Normal";
    font-size: 40px; 
    left: 0px;
    top: -25px; 
    z-index: 10;  
}


#airOutTemp {
    position: absolute;    
    top: 305px;
    left: 577px;
    z-index: 10;
}

#airOutTempText {    
    position: absolute; 
    font-family: "LiquidCrystal-Normal";
    font-size: 40px; 
    left: 7px;
    top: -25px; 
    z-index: 10;  
}


/***********************************************
 *  FLOWING AIR STYLES
 **********************************************/
#airContainer {  
    position: absolute;
    width: 377px;
    height: 280px;
    left: 170px;
    top: 110px;
    z-index: 30;
}

#flowingAir1 {  
    position: absolute;
    width: 377px;
    height: 280px;
    left: 0px;
    top: 0px;
    background: url("Arrows.png");
    background-position: 0 0; 
    z-index: 30;
    animation: flowAir 2.5s steps(30) infinite;
    display: none;
}

#flowingAir2 {  
    position: absolute;
    width: 377px;
    height: 280px;
    left: 0px;
    top: 0px;
    background: url("Arrows.png");
    background-position: 0 0; 
    z-index: 31;
    animation: flowAir 1.5s steps(30) infinite;
    display: none;
}

#flowingAir3 {  
    position: absolute;
    width: 377px;
    height: 280px;
    left: 0px;
    top: 0px;
    background: url("Arrows.png");
    background-position: 0 0; 
    z-index: 32;
    animation: flowAir 1.1s steps(30) infinite;
    display: none;
}

#flowingAir4 {  
    position: absolute;
    width: 377px;
    height: 280px;
    left: 0px;
    top: 0px;
    background: url("Arrows.png");
    background-position: 0 0; 
    z-index: 33;
    animation: flowAir .8s steps(30) infinite;
    display: none;
}

#flowingAir5 {  
    position: absolute;
    width: 377px;
    height: 280px;
    left: 0px;
    top: 0px;
    background: url("Arrows.png");
    background-position: 0 0; 
    z-index: 34;
    animation: flowAir .5s steps(30) infinite;
    display: none;
}

#ambientAir{
    position: absolute;
    top:135px;
    left:-110px;
    font-size:large;
}

@keyframes flowAir {
    100% { background-position: -11220px; }
}

@-webkit-keyframes flowAir {
    100% { background-position: -11220px; }
}

@-ms-keyframes flowAir {
    100% { background-position: -11220px; }
}

@-moz-keyframes flowAir {
    100% { background-position: -11220px; }
}

.evap {
    width: 100%;
    height: auto; 
    position: absolute;
    top: -20px;
    left: -100px;
    z-index: 8;  
}


#evapCoilFluid {
    position: absolute;
    left: 50px;
    top: 50px;
    right: 0;
    height: 277;
    width: 249px;
}

#flowingFluidStart {
    position: absolute;
    left: 136px;    
    top: 47px;
    width: 277px;
    height: 280px;
    z-index: 14;
    opacity: .6;
}

#flowingFluidLoop {
    position: absolute;
    left: 136px;    
    top: 47px;
    width: 277px;
    height: 280px;
    z-index: 15;
    opacity: .6;
}

#flowingFluidStop {
    position: absolute;
    left: 136px;    
    top: 47px;
    width: 277px;
    height: 280px;
    z-index: 16;
    opacity: .6;
}


.tempGaugeAirOut {
    position: absolute;
    height: 140px;
    width: auto;
    top: 226px;
    left: 495px;
    z-index: 9;
}

.tempGaugeAirIn {
    position: absolute;
    height: 140px;
    width: auto;
    top: -7px;
    left: -189px;
    z-index: 9;
}

#refrigAirText {
    position: absolute;
    height: 140px;
    width: 200px;
    top: 205px;
    left: 555px;
    font-size: large;
    z-index: 10;
}

@keyframes blink1 {  
    0% { border: 3px solid yellow;  }
    50% { border: 3px solid transparent; }
    100% { border: 3px solid yellow; }
}
@keyframes blink2 {  
    0% { border: 5px solid yellow;  }
    50% { border: 5px solid transparent; }
    100% { border: 5px solid yellow; }
}
.highlight {
    animation-name: blink1;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
.highlight2 {
    animation-name: blink2;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}